.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  max-width: 880px;
  padding-top: 45px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 495px) {
  .header {
    padding-top: 28px;
  }
}
