.formAuth__button-submit {
  width: 358px;
  height: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #000000;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 2px;
  transition: opacity 0.2s linear;
  margin-top: 216px;
  margin-bottom: 15px;

}

.formAuth__button-submit:hover {
  opacity: .85;
}

@media screen and (max-width: 565px) {
  .formAuth__button-submit {
    width: 260px;
    height: 46px;
    font-size: 16px;
    line-height: 1.19;
    margin-top: 173px;
    margin-bottom: 20px;
  }
}
